/*entity infos*/




.transformsGroup{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.transformsGroup .axisData{
  display: flex;
  padding: 2px;
  align-items: center;
}

.transformsGroup input[type=number]{
  color:#828282;
  background: white;
  border: none;
}

.transformsGroup input[type=number]:disabled{
  color: lightgray;
}



.transformsGroup .percent {
  color: #828282;
  width: 50px;
  padding: 4;
}

.transformsGroup .value {
  color: #636363;
  width: 80px;
  padding: 4;
}

.transformsGroup .valueGroup{
  border: 1px solid red;
  margin-right: 10px;
}

.transformsGroup .valueGroup label{
  color: white;
  padding: 5 12 5 12;
  background-color: red;
  display: inline-block;
}

.transformsGroup .valueGroup .axisName{
  color: white;
  padding: 5 12 5 12;
  background-color: red;
  display: inline-block;
}

.transformsGroup .percentGroup {
  border: 1px solid red;
  padding: 3.5px;
}

/* color overrids per axis, for axis color codes */
/* x axis*/
.transformsGroup .x-axis .valueGroup {
  border-color: #ed8d00;
}
.transformsGroup .x-axis .percentGroup {
  border-color: #ed8d00;
}
.transformsGroup .x-axis .valueGroup label{
  background-color: #ed8d00;
}
.transformsGroup .x-axis .valueGroup .axisName{
  background-color: #ed8d00;
}
/* y axis*/
.transformsGroup .y-axis .valueGroup {
  border-color: #89c718;
}
.transformsGroup .y-axis .percentGroup {
  border-color: #89c718;
}
.transformsGroup .y-axis .valueGroup label{
  background-color: #89c718;
}
.transformsGroup .y-axis .valueGroup .axisName{
  background-color: #89c718;
}
/* z axis*/
.transformsGroup .z-axis .valueGroup {
  border-color: #5bc3fa;
}
.transformsGroup .z-axis .percentGroup {
  border-color: #5bc3fa;
}
.transformsGroup .z-axis .valueGroup label{
  background-color: #5bc3fa;
}
.transformsGroup .z-axis .valueGroup .axisName{
  background-color: #5bc3fa;
}

.transformsGroup .unit{
  color: #aaa;
  padding: 0 10 0 0;
  display: inline-block;
}

.optionsGroup{
  display: flex;
}

.movingSubTools{
  width: 190px;
  display: block;
}

.rotationSubTools{
  width: 180px;
  display: block;
}

.scalingSubTools{
  width: 270px;
  display: block;
}

.nameAndColorSubTools{
  width: 270px;
  display: block;
  padding: 10px;
}

.nameAndColorSubTools input[type=text] {
  text-overflow: ellipsis;
  font-size: 0.8em !important;
  margin-left: 5px;
}

.nameAndColorSubTools label {
  padding: 5px;
  background: #cacaca;
  color: white;
  width:20%;
}

.nameAndColorSubTools span{
  display: inline-flex;
  width: 100%;
  margin-top: 4px;
}

.nameAndColorSubTools .inputWrapper{
  width: 80%;
  border: 1px solid #cacaca !important;
  padding: 0;
  margin: 0;
}

.nameAndColorSubTools input[type=color]{
  width: 100%;
  /*margin: 0;
  border: 0px;
  background: none;
  padding: 0px;
  height: 26px;*/

  opacity: 0;
   display: block;
   height: 22px;
   border: none;
}

.nameAndColorSubTools input[type=color]:focus{
  outline: none;
}



/* TODO: remove, deprecated
.toolbarBottom{
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  background: white;
  width: 100%;
  padding: 10px;
}

.nameInput {
  width: 200px !important;
  max-width: none !important;
  font-weight: 700;
}

.toolbarBottom input[type=text]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;


  max-width: 150px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;

  text-overflow: ellipsis;
}

.toolbarBottom input[type=number]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;

  width:10em;
  max-width: 50px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;
}*/

.toolbarBottom input[type=text]:focus{
  outline: none;
}

.toolbarBottom input[type=number]:focus{
  outline: none;
}

.entityInfos .icon{
  width: 16px;
  height: 16px;
  top: 4px;
  position: relative;
  padding: 0;
}

.entityInfos .icon path{
  fill:#989898;
}

.entityInfos .icon:hover path{
  background:none;
  color:none;
  fill:#989898;
}


.entityInfos .transformInput{
  padding: 7 0 0 13px;
}


.color{
  width: 24px;
  margin: 0;
  border: 0px;
  padding: 0px;
  height: 20px;
  display: inline;
  outline: none;

      position: static;
    float: left;
    bottom: 0px;
    left: 0px;
}

.colorPicker{

}

.colorPicker .body{
  width: 150px;
  height: 90px;
  position: absolute;
  bottom: 35px;
  border: 1px solid #D8D8D8;
  padding: 5px;
}

.colorPicker .body .mainGradient{
  height: 70px;
  width: 100%;
  margin: 2px;
}

.colorPicker .body .smallGradient{
  height: 20px;
  width: 100%;
  margin: 2px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);

}
