body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/*
  #f5f5f5 //ultimaker site pale blue
*/
#jamRoot/*external wrapper aka "where to put Jam into"*/
{
  font-family: 'Open Sans', sans-serif;
  /*-webkit-transition: opacity 0.5s ease-in;
  opacity:1;*/

  overflow:hidden;

  /*make things unselectable, cross browser*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 100%;
  height: 100%;
}


.jam {
  /*background-color: #fff;#f5f5f5;
  z-index: 9999;*/
   position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

}

.jam input[type=text]{
  background-color: rgba(244, 244, 244, 0.25); /*#fff; #f5f5f5;*/
}
.jam input[type=number]{
  background-color: rgba(244, 244, 244, 0.25); /*#fff; #f5f5f5;*/
}

/*without this we get red outlines in number inputs*/
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

button path{fill:#555555!important;}
button:focus {outline:0;}
/*button:focus path{fill:white!important;}
button:focus {background:#555555; outline:0;}*/

button {
  margin: 0 10px 0 0;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: whitesmoke;
  padding: 0;

  cursor: pointer;
}

button:hover{
  background:#555555;
}

button:hover path{
  fill:white !important;
}

button[disabled=disabled], button:disabled path{
  fill:#AAAAAA !important;
}

button[disabled=disabled]:hover, button:disabled:hover{
  background: whitesmoke;
}



.titleBar{
  /*background: #fff; #f5f5f5;*/
  width:'100%';
  height:'100%';
  padding: 0;/*5 0 0 10; */

  position: absolute;
  top: 10px;
  left:10px;
}

.titleBar h1{
  display: inline-block;
  padding: 4px;
  margin: 0px;
  margin-left: 5px;
  font-size: 1.3em;
  font-weight: 500;

  min-width: 200px;
}

/* text entry*/
.titleBar input[type=text]{
  color:#60c4f8;
  outline: none;
  font-size: 1.1em;
  font-weight: 500;

  min-width: 10em;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;
}

.titlebar input[type=text]:focus{
  outline: none;
}

.titlebar .history{
    padding-left: 5px;
  padding-right: 5px;
}

.titlebar .social{
  padding-left: 5px;
  padding-right: 5px;
}

.titlebar section{
  display: inline-block;
  /* padding-left: 15px; */
  padding-right: 25px;
}

/*//////////////*/
/*contextMenu*/
.contextMenu{
  background: rgb(242, 242, 242);
  text-align: start;
  box-shadow: 1px 2px 5px #C5C5C5;
  font-size: 0.9em;
}

.contextMenu .menuEntries{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.contextMenu .menuEntries li{
 background: rgb(250, 250, 250);
 margin-bottom: 0.1em;
}
.contextMenu .menuEntries li:hover{
 background: lightgrey;
}

.contextMenu .menuEntries button{
  border-radius: 0px;
  background: transparent;
  border: none;
  font-family:inherit;
  font-size: 0.8em;

  outline: none;

}

/*//////////////*/
/*entity infos*/

.toolbarBottom{
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  background: white;
  width: 100%;
  padding: 10px;
}

.nameInput {
  width: 200px !important;
  max-width: none !important;
  font-weight: 700;
}

.toolbarBottom input[type=text]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;


  max-width: 150px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;

  text-overflow: ellipsis;
}

.toolbarBottom input[type=number]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;

  width:10em;
  max-width: 50px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;
}

/*.tooolbarBottom */input[type=color]{
  width: 24px;
  margin: 0;
  border: 0px;
  background: none;
  padding: 0px;
  height: 20px;
}

input[type=color]:focus{
  outline: none;
}

.toolbarBottom input[type=text]:focus{
  outline: none;
}

.toolbarBottom input[type=number]:focus{
  outline: none;
}

.entityInfos .icon{
  width: 16px;
  height: 16px;
  top: 4px;
  position: relative;
  padding: 0;
}

.entityInfos .icon path{
  fill:#989898;
}

.entityInfos .icon:hover path{
  background:none;
  color:none;
  fill:#989898;
}


.entityInfos .transformInput{
  padding: 7 0 0 13px;
}


.color{
  width: 24px;
  margin: 0;
  border: 0px;
  padding: 0px;
  height: 20px;
  display: inline;
  outline: none;

      position: static;
    float: left;
    bottom: 0px;
    left: 0px;
}

.colorPicker{

}

.colorPicker .body{
  width: 150px;
  height: 90px;
  position: absolute;
  bottom: 35px;
  border: 1px solid #D8D8D8;
  padding: 5px;
}

.colorPicker .body .mainGradient{
  height: 70px;
  width: 100%;
  margin: 2px;
}

.colorPicker .body .smallGradient{
  height: 20px;
  width: 100%;
  margin: 2px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);

}




/*//////////////////*/
/*spinner/loader*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -13px;
    margin-left: -13px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #03ade0;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/*//////////////*/
/*camview controls overlay*/
.camViewControls{
  position: absolute;
  width: 256px;
  height: 128px;
  /*width: 20%;
  height: 20%;*/
  left: 0px;
  bottom: 48px;
}


/*//////////////*/
/*generic styling*/
.fadesIn{
  opacity: 0;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}

.fadesOut{
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
}

.visible{
  opacity: 1;
}

.active{
  /*background: rgb(255, 223, 0);*/
  background: #555555;
  fill:white !important;
}

.active path{
  /*fill:#60C4F8;*/
  fill:white !important;
}





/*//////////////*/
/*design card wrapper overlay*/
.designCardWrapper{
}


.designCard{
  position: absolute;
  max-height: 90%;
  color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  background: #60c4f8;
  z-index: 1;
}
.designCard h1{
  padding: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0px;
}

.designCard section{
  margin: 5px;
}

.designCard .version{
  font-size: 0.8em;
  padding: 10px;
}

/*//////////////*/
/*bom view*/

.bom{
  /*position: absolute;
  padding: 10px 20px;
  min-width: 550px;
  top: 0px;
  right: 0px;
  bottom: 54px;*/
  height: auto;
  cursor: default;
}

.bom .bomToggler{
  float: right;
  margin: 0;
  top: 10px;
  right: 20px;
  position: absolute;
}
.bom .toolTipButtonContainer{
  position: inherit;
}

.bom .tableContainer{
  position: absolute;
  top: 42px;
  right: 20px;
  height: calc(100% - 132px);
  pointer-events: none;
}

.bom table{
  font-size: 13px;
  border-collapse: collapse;
  background: white;
  width: 100%;
}

.bom .column0{ width: 40% }
.bom .column1{ width: 10% }
.bom .column2{ width: 15% }
.bom .column3{ width: 10% }
.bom .column4{ width: 15% }
.bom .column5{ width: 10% }

.bom #tableheader{
  cursor: pointer;
  border: 1px solid #F7F6F6;
  pointer-events: auto;
}

.bom #tablebody{
  display: block;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #F7F6F6;
  border-top: 0px;
  pointer-events: auto;
}

.bom{
  font-weight: 600;
  font-size: .9em;
}

.bom tr:hover{
   background-color: #F4F4F4;
   color: black;
   font-weight: bold;
}

.bom tr.selected{
   background-color: #484848;
   color:white;
}

.bom .adderRow td{
  border: 1px solid #F7F6F6;
}

.bom td.column0, .bom th.column4 {
  text-align: left;
}.readOnly th.column4 { text-align: center; }

.bom .cell{
  vertical-align: middle;
  text-align: center;
  padding: 5 5 5 5;
}


.bom .directionArrow{
  font-size: 0.6em;
}
.bom .directionArrow .asc:after {
    content: "▲";
    /*
    &#x25B2;
     ▼
    */
}
.bom .directionArrow .desc:after {
    content: "▼";
    /*
    &#x25B2;
     ▼
    */
}
.bom .directionArrow .neut:after{
  content: "⬍";
  font-size: 12px;
}

.bom input[type=text]{
  border: none;
  background: none;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  padding-left: 3px;
}

.bom tr.selected input[type=text]{
  border: none;
  background: none;
  color: white;
}

.bom tr.selected input[type=checkbox]{
}

.bom .name input[type=text]{
  min-width: 150px;
  text-overflow: ellipsis;
}
.bom .qty input[type=number]{
  width: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  border-width: 0px;
  width: 10em;
  max-width: 50px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;
}

.bom tr.selected input[type=number]{
  color:white;
}

.bom .phys_qty input[type=number]{
  width: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  border-width: 0px;
  width: 10em;
  max-width: 50px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;
}

.bom .adder{
  font-style: italic;
  color: #827D7D;
}

.bom .adder td {
  border-collapse: separate;
  border: 1px solid #EFEFEF !important;
}

.bom .adder input[type=text]{
  color:#827D7D;
  font-style: italic!important;
}
/* do not group these rules */
.bom .adder *::-webkit-input-placeholder {
    color: #827D7D;
    font-style: italic!important;
}
.bom .adder *:-moz-placeholder {
    /* FF 4-18 */
    color: #827D7D;
    font-style: italic!important;
}
.bom .adder *::-moz-placeholder {
    /* FF 19+ */
    color: #827D7D;
    font-style: italic!important;
}
.bom .adder *:-ms-input-placeholder {
    /* IE 10+ */
    color: #827D7D;
    font-style: italic!important;
}

.bom .adder button{
  color: white;
  padding: 2 5 2 5;
  background: #5fc5fb;
  margin: 0;
}

.bom .bomEntry button{
  margin: 0;
}

.bom .bomEntry button .icon{
  background: white;
}

/*.bom .bomEntry button .icon path{
  fill: rgba(0, 0, 0, 0)!important;
}*/

.bom .bomEntry button:hover .icon{
  background: #F4F4F4;
}

.bom .bomEntry button:hover .icon path{
  /*background: white;*/
  fill:black !important;
}

.bom .removal {
  height: 42px;
}

.bom .removal span{
  padding: 5 5 5 5;
  font-size: 11px;

}

.bom .removal button{
  color: white;
  padding: 2 5 2 5;
  background: #5fc5fb;
}

.foo{
  position: absolute;
  right: 0px;
  top:240px;
}

/*//////////////////*/

.fullScreenToggler{
  position: absolute;

  bottom: 10px;
  right: 20px;

  background: white;
  border: none;
  padding: 0px;
  margin: 0px;

  z-index: 2;
}
.fullScreenToggler button{
  margin: 0;
  padding: 0;
}

/*//////////////////*/
/*help*/
.help{
  position: absolute;
  bottom: 10px;
  right: 55px;
  z-index: 2;

  cursor: default;
}

.help .content {
  background: white;
  font-size: 0.8em;
  position: absolute;
  right: 10px;
  bottom: 32px;
  width: 250px;
  padding: 5px;
}

.help .content ul{
  /*list-style: none;*/
  margin-left: 0;
  border: none;
  padding: 0 0 0 20;
}
.help .content li{
  /*padding: 5px;
  background: #f4f4f4;*/
}

.help .content .appVersion{
  text-align: center;
  width: 100%;
  height: 10px;
  padding: 2px;
  font-size: 0.8em;
  /* border: 1px solid; */
  display: block;
  line-height: 1;
}

.help .toggled {
  border: 1px solid #F7F6F6 !important;
}




/*//////////////////*/
.settings{
  position: absolute;
  right: 110px;
  bottom:10px;
  background: white;
  z-index: 2;
}


.settings .settingEntry{
  padding: 6px;
  /*border-bottom: 1px solid #e0e0e0;*/
}

.settings .content {
  background: white;
  font-size: 0.8em;
  position: absolute;
  right: 0px;
  bottom: 32px;
  width: 200px;
}

.settings .toggled {
  border: 1px solid #F7F6F6 !important;
}


.icon{
  /*width: 24px;
  height: 24px;
  padding: 4px;*/
  width: 16px;
  height: 16px;
  padding: 8px;


  /*stroke: #60C4F8;
  stroke-width: 2;*/
}

.settings #toggler{
  float: right;
  display: block;
}

.settings .toggler{
  border: 1px solid white;
}

/*.settings .toggler .toggled .icon{
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}*/
/*ICONS*/

.icon path{
  fill:#dddddd;
}

.icon:hover path{
  fill:#60C4F8;
}

.settings button{
  border: none;
  margin: 0;
  padding: 0;
}

.settings button:focus {outline:0;}
.settings button:focus path{fill:#60C4F8;}


/*----------------*/

.glView{
  width: 100%;
  height: 100%;
  cursor: default;
}

/*----------------*/
/*//////////////////*/
/*spinner/loader*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -13px;
    margin-left: -13px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #03ade0;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

.loading{
  opacity: 0 !important;
}

.visible{
  opacity: 1!important;
}

.innerWrapper{
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
   -moz-transition: opacity 1.0s ease-in-out;
   -webkit-transition: opacity 1.0s ease-in-out;
}


.mainError{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;

  color: #3d6179;

}

 a {
      color: #3d6179;
    }

    a:hover {
      text-decoration: none;
    }

.mainError{
  /*position: absolute;
  top: 50%;
  width: 100%;
  left: 0;*/

  text-align: center;
}
.mainError h1{
  font-size: 1.5em;
  margin-bottom: 40px;
  line-height: 1.5em;
  font-weight: 600;
}

div.container-heading {
  max-width: 80%;
  margin: 40px auto;
  border-bottom: 1px solid #efefef;
  padding: 0 10px 0 10px;
}

div.container-text {
  max-width: 90%;
  margin: 40px auto;
  padding: 0 10px 0 10px;
}

div.largeIcon{
    margin: 80px auto 80px auto;
  width: 80px;
  height: 80px;
  text-align: center;
}

/*-----------------*/
.debugDisplay{
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------*/

.textInput.placeholder{
  color:rgb(194, 194, 194);
}

/*-----------------*/
.toolTips .icon{
  margin: -10px 0px;
}

/*comments*/
.comments{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.7em;
}

.comments textarea{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
}

.commentDetails{
  position: absolute;
  left:5px;
  bottom:30px;
  min-width: 280px;

  padding: 10px;
  background: rgba(244, 244, 244, 0.25);
}

.comments .icon{
  /*position: relative;
  top: 10px;*/
}

/*for adding new comments*/
.commentDetails .new .textInput{
  padding: 10px;
}

.commentDetails .new {
  padding-left: 0px ;
}

.commentDetails .new .icon path{
  fill:rgb(0, 178, 255);
}

.commentDetails .new header{
  font-weight: 600;
}

.commentDetails .new button{
  background-color: rgb(0, 178, 255);
  border: none;
  margin: 10px;
  font-weight: 300;
  color:white;

  float: right;
}

/*for the list of comments*/
.commentDetails header{
    padding-bottom: 5px;
}

.commentDetails header .author{
  text-decoration: underline;
}

.commentDetails .icon {
  width: 16px;
  height: 16px;

  margin: -5px 10px;
  border-radius: 50%;
  background: rgb(237, 230, 230);
}

.commentDetails .icon path{
  fill:rgb(137, 137, 137);
}

.commentDetails .content {
  background: white;
  border: 1px solid rgb(234, 231, 231);
  padding: 10px;
  margin-left: 30px;
}
.commentDetails .textInput{
  padding: 15px;
  line-height: 12px;
  width: 100%;
  text-align: center;
  border-top: 10px;
}

.commentsList {
  list-style: none;
  padding-left: 0px;

  max-height: 300px;
  overflow: auto;
}

.commentsList .item{
  padding-top: 10px;
  padding-bottom: 5px;
}


/*progressbar*/
.progressBar{
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.progressBar .fill{
  background: rgb(0, 178, 255);
  height: 100%;
  position: absolute;
}


/* this doesn't do anyting?
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 20px;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 2px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
*/

/*other tooltips from:
http://cbracco.me/a-simple-css-tooltip/
*/

/* Chrome, Safari, Opera */
@-webkit-keyframes dropInEffect {
    0%   {opacity: 0; height: 0; margin-top: -20px;}
    90% {margin-top: 2px;}
    100% {opacity: 1; height: auto; margin-top: 0px;}
}
@keyframes dropInEffect {
  0%   {opacity: 0; height: 0; margin-top: -20px;}
  90% {margin-top: 2px;}
  100% {opacity: 1; height: auto; margin-top: 0px;}
}
/*
Chrome, Safari, Opera */
@-webkit-keyframes dropOutEffect {
    0% {opacity: 1; height: auto; margin-top: 0px;}
    100%   {opacity: 0; height: 0; margin-top: -20px;}
}
@keyframes dropOutEffect {
  0% {opacity: 1; height: auto; margin-top: 0px;}
  100%   {opacity: 0; height: 0; margin-top: -20px;}
}

.toolTipButtonContainer{
  position: relative;
}

.popOver {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 999;
    top: 25px;
    left: -10px;
    background-color: white;
    border: 1px solid #dddddd;
    padding: 18px 20px;
    font-size: 0.8em;
}
.popOver.active{
  display: block;
  -webkit-animation-name: dropInEffect; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.2s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
  animation-name: dropInEffect;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
.popOver .notch {
    position: absolute;
    top: -10px;
    left: 17px;
    margin: 0;
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}.popOver .border-notch { border-bottom-color: #dddddd; top: -11px}

.popOver input[type=checkbox]{
  margin-right: 10px;
}
.label{
  font-size: 1.1em;
}

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
/*[data-tooltip]:focus:before,
[data-tooltip]:focus:after,*/
.tooltip:hover:before,
.tooltip:hover:after
/*.tooltip:focus:before,
.tooltip:focus:after*/ {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 3px;
  width: 60px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.0;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -20px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
/*[data-tooltip]:focus:before,
[data-tooltip]:focus:after,*/
.tooltip:hover:before,
.tooltip:hover:after,
/*.tooltip:focus:before,
.tooltip:focus:after,*/
.tooltip-top:hover:before,
.tooltip-top:hover:after
/*.tooltip-top:focus:before,
.tooltip-top:focus:after*/ {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after
/*.tooltip-left:focus:before,
.tooltip-left:focus:after*/ {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after
/*.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after */{
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after
/*.tooltip-right:focus:before,
.tooltip-right:focus:after */{
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

#test{
  position: absolute;
  z-index: 10;
  left: 100;
  top: 300;
}

.notifications{
  color: #A5A5A5;
  font-size: 0.7em;
  margin-top: -10px;
  vertical-align: text-top;
}
