/*
youmagine highlight blackish(old): #555555;
youmagine highlight blue: #5bc3fa;
youmagine base gray : #F5F5F5;


ultimaker site pale blue(not used for now):#f5f5f5:
*/

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#jamRoot/*external wrapper aka "where to put Jam into"*/
{
  font-family: 'Open Sans', sans-serif;
  /*-webkit-transition: opacity 0.5s ease-in;
  opacity:1;*/

  overflow:hidden;

  /*make things unselectable, cross browser*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 100%;
  height: 100%;
}

.jam {
  /*background-color: #fff;#f5f5f5;
  z-index: 9999;*/
   position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.jam input[type=text]{
  background-color: rgba(244, 244, 244, 0.25); /*#fff; #f5f5f5;*/
}
.jam input[type=number]{
  background-color: rgba(244, 244, 244, 0.25); /*#fff; #f5f5f5;*/
}

/*without this we get red outlines in number inputs*/
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

button path{fill:#555555!important;}
button:focus {outline:0;}
/*button:focus path{fill:white!important;}
button:focus {background:#555555; outline:0;}*/

button {
  /*margin: 0 10px 0 0;*/
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: #F5F5F5;
  padding: 0;

  cursor: pointer;
}

button:hover{
  background: #5bc3fa;/*#555555;*/
}

button:hover path{
  fill:white !important;
  stroke: white ! important;
}

button:hover svg *{
  fill:white;
}

button[disabled=disabled], button:disabled svg *{
  fill:lightgray;
  stroke: lightgray;
}

button[disabled=disabled]:hover, button:disabled:hover{
  stroke: lightgray;
  fill:lightgray;
}


/*button for toggling menus*/
.containerToggler{
  width: 50px;
  height: 50px;
  margin: 2px;
  background: rgba(0,0,0,0);
}

/*//////////////*/
/*generic styling*/
.fadesIn{
  opacity: 0;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}

.fadesOut{
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
}

.visible{
  opacity: 1;
}

/* used mainly for statefull ui containers (open containers)*/
.active{
  background: #5bc3fa;
  fill:white !important;
}

.active path{
  fill:white !important;
}

.active svg *{
  fill:white;
}




/*//////////////*/
/*contextMenu*/
.contextMenu{
  background: rgb(242, 242, 242);
  text-align: start;
  box-shadow: 1px 2px 5px #C5C5C5;
  font-size: 0.9em;
}

.contextMenu .menuEntries{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.contextMenu .menuEntries li{
 background: rgb(250, 250, 250);
 margin-bottom: 0.1em;
}
.contextMenu .menuEntries li:hover{
 background: lightgrey;
}

.contextMenu .menuEntries button{
  border-radius: 0px;
  background: transparent;
  border: none;
  font-family:inherit;
  font-size: 0.8em;

  outline: none;

}

/*//////////////*/
/*entity infos*/

.toolbarBottom{
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  background: white;
  width: 100%;
  padding: 10px;
}

.nameInput {
  width: 200px !important;
  max-width: none !important;
  font-weight: 700;
}

.toolbarBottom input[type=text]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;


  max-width: 150px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;

  text-overflow: ellipsis;
}

.toolbarBottom input[type=number]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;

  width:10em;
  max-width: 50px;
  border: none;
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;
}

/*.tooolbarBottom */input[type=color]{
  width: 24px;
  margin: 0;
  border: 0px;
  background: none;
  padding: 0px;
  height: 20px;
}

input[type=color]:focus{
  outline: none;
}

.toolbarBottom input[type=text]:focus{
  outline: none;
}

.toolbarBottom input[type=number]:focus{
  outline: none;
}

.entityInfos .icon{
  width: 16px;
  height: 16px;
  top: 4px;
  position: relative;
  padding: 0;
}

.entityInfos .icon path{
  fill:#989898;
}

.entityInfos .icon:hover path{
  background:none;
  color:none;
  fill:#989898;
}


.entityInfos .transformInput{
  padding: 7 0 0 13px;
}


.color{
  width: 24px;
  margin: 0;
  border: 0px;
  padding: 0px;
  height: 20px;
  display: inline;
  outline: none;

      position: static;
    float: left;
    bottom: 0px;
    left: 0px;
}

.colorPicker{

}

.colorPicker .body{
  width: 150px;
  height: 90px;
  position: absolute;
  bottom: 35px;
  border: 1px solid #D8D8D8;
  padding: 5px;
}

.colorPicker .body .mainGradient{
  height: 70px;
  width: 100%;
  margin: 2px;
}

.colorPicker .body .smallGradient{
  height: 20px;
  width: 100%;
  margin: 2px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);

}




/*//////////////////*/
/*spinner/loader*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -13px;
    margin-left: -13px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #03ade0;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/*//////////////*/
/*camview controls overlay*/
.camViewControls{
  position: absolute;
  width: 256px;
  height: 128px;
  /*width: 20%;
  height: 20%;*/
  left: 0px;
  bottom: 48px;
}





/*//////////////*/
/*design card wrapper overlay*/
.designCardWrapper{
}

.designCard{
  position: absolute;
  max-height: 90%;
  color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  background: #60c4f8;
  z-index: 1;
}
.designCard h1{
  padding: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0px;
}

.designCard section{
  margin: 5px;
}

.designCard .version{
  font-size: 0.8em;
  padding: 10px;
}


.foo{
  position: absolute;
  right: 0px;
  top:240px;
}


.icon{
  /*width: 24px;
  height: 24px;
  padding: 4px;*/
  width: 20px;
  height: 20px;
  padding: 8px;

  /*stroke: #60C4F8;
  stroke-width: 2;*/
}

/*ICONS*/

.icon path{
  fill:#dddddd;
}

.icon:hover path{
  fill:#60C4F8;
}


/*----------------*/

.glView{
  width: 100%;
  height: 100%;
  cursor: default;
}

/*----------------*/
/*//////////////////*/
/*spinner/loader*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -13px;
    margin-left: -13px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #03ade0;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

.loading{
  opacity: 0 !important;
}

.visible{
  opacity: 1!important;
}

.innerWrapper{
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
   -moz-transition: opacity 1.0s ease-in-out;
   -webkit-transition: opacity 1.0s ease-in-out;
}


.mainError{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;

  color: #3d6179;

}

 a {
      color: #3d6179;
    }

    a:hover {
      text-decoration: none;
    }

.mainError{
  /*position: absolute;
  top: 50%;
  width: 100%;
  left: 0;*/

  text-align: center;
}
.mainError h1{
  font-size: 1.5em;
  margin-bottom: 40px;
  line-height: 1.5em;
  font-weight: 600;
}

div.container-heading {
  max-width: 80%;
  margin: 40px auto;
  border-bottom: 1px solid #efefef;
  padding: 0 10px 0 10px;
}

div.container-text {
  max-width: 90%;
  margin: 40px auto;
  padding: 0 10px 0 10px;
}

div.largeIcon{
    margin: 80px auto 80px auto;
  width: 80px;
  height: 80px;
  text-align: center;
}

/*-----------------*/
.debugDisplay{
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------*/

.textInput.placeholder{
  color:rgb(194, 194, 194);
}

/*-----------------*/
.toolTips .icon{
  margin: -10px 0px;
}

/*progressbar*/
.progressBar{
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.progressBar .fill{
  background: rgb(0, 178, 255);
  height: 100%;
  position: absolute;
}

/*other tooltips from:
http://cbracco.me/a-simple-css-tooltip/
*/

.transformsGroup{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.transformsGroup .axisData{
  display: flex;
  padding: 2px;
  align-items: center;
}

.transformsGroup input[type=number]{
  color:#828282;
  background: white;
  border: none;
}
.transformsGroup .percent {
  color: #828282;
  width: 50px;
  padding: 4;
}

.transformsGroup .value {
  color: #636363;
  width: 80px;
  padding: 4;
}

.transformsGroup .valueGroup{
  border: 1px solid red;
  margin-right: 10px;
}

.transformsGroup .valueGroup label{
  color: white;
  padding: 5 12 5 12;
  background-color: red;
  display: inline-block;
}

.transformsGroup .valueGroup .axisName{
  color: white;
  padding: 5 12 5 12;
  background-color: red;
  display: inline-block;
}

.transformsGroup .percentGroup {
  border: 1px solid red;
  padding: 3.5px;
}

/* color overrids per axis, for axis color codes */
/* x axis*/
.transformsGroup .x-axis .valueGroup {
  border-color: #ed8d00;
}
.transformsGroup .x-axis .percentGroup {
  border-color: #ed8d00;
}
.transformsGroup .x-axis .valueGroup label{
  background-color: #ed8d00;
}
.transformsGroup .x-axis .valueGroup .axisName{
  background-color: #ed8d00;
}
/* y axis*/
.transformsGroup .y-axis .valueGroup {
  border-color: #89c718;
}
.transformsGroup .y-axis .percentGroup {
  border-color: #89c718;
}
.transformsGroup .y-axis .valueGroup label{
  background-color: #89c718;
}
.transformsGroup .y-axis .valueGroup .axisName{
  background-color: #89c718;
}
/* z axis*/
.transformsGroup .z-axis .valueGroup {
  border-color: #5bc3fa;
}
.transformsGroup .z-axis .percentGroup {
  border-color: #5bc3fa;
}
.transformsGroup .z-axis .valueGroup label{
  background-color: #5bc3fa;
}
.transformsGroup .z-axis .valueGroup .axisName{
  background-color: #5bc3fa;
}


.transformsGroup .unit{
  color: #aaa;
  padding: 0 10 0 0;
  display: inline-block;
}

.optionsGroup{
  display: flex;
}


.checkbox{
  width: 28px;
  height: 28px;
  top: -4px;
  background: white;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #E5E5E5;
}
.checkbox input[type=checkbox] {
	visibility: hidden;
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
}

.checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid black;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);

}

.checkbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#test{
  position: absolute;
  z-index: 10;
  left: 100;
  top: 300;
}

.notifications{
  color: #A5A5A5;
  font-size: 0.7em;
  margin-top: -10px;
  vertical-align: text-top;
}

.movingSubTools{
  width: 190px;
  display: block;
}

.rotationSubTools{
  width: 165px;
  display: block;
}

.scalingSubTools{
  width: 270px;
  display: block;
}
