/*
  #f5f5f5 //ultimaker site pale blue
*/
#root{
  font-family: 'Open Sans', sans-serif;
  /*-webkit-transition: opacity 0.5s ease-in;
  opacity:1;*/
  
  overflow:hidden;
  
  /*make things unselectable, cross browser*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.jam {
  background-color: #fff;/*#f5f5f5;*/
  z-index: 9999;
}

.jam input[type=text]{
  background-color: #fff; /*#f5f5f5;*/
}
.jam input[type=number]{
  background-color: #fff; /*#f5f5f5;*/
}

.titleBar{
  background: #fff; /*#f5f5f5;*/
  width:'100%';
  height:'100%';
  padding: 0;/*5 0 0 10; */
}

.titleBar h1{
  display: inline-block;
  padding: 4px;
  margin: 0px;
  margin-left: 5px;
  font-size: 1.3em;
  font-weight: 500;

  min-width: 200px;
}

/* text entry*/
.titleBar input[type=text]{
  color:#60c4f8;
  outline: none;
  font-size: 1.1em;
  font-weight: 500;

  min-width: 10em;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;
}

.titlebar input[type=text]:focus{
  outline: none;
}

.titlebar .history{
    padding-left: 5px;
  padding-right: 5px;
}

.titlebar .social{
  padding-left: 5px;
  padding-right: 5px;
}

/*//////////////*/
/*contextMenu*/
.contextMenu{
  background: rgb(242, 242, 242);
  text-align: start;
  box-shadow: 1px 2px 5px #C5C5C5
}

.contextMenu .menuEntries{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.contextMenu .menuEntries li{
 background: rgb(250, 250, 250);
 margin-bottom: 0.1em;
}
.contextMenu .menuEntries li:hover{
 background: lightgrey;

}

.contextMenu .menuEntries button{
  border-radius: 0px;
  background: transparent;
  border: none;
  font-family:inherit;
  font-size: 0.8em;

  outline: none;

}

/*//////////////*/
/*entity infos*/

.toolbarBottom{
  font-size: 0.8em;
}

.toolbarBottom input[type=text]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;
}

.toolbarBottom input[type=number]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  border: none;
  border-width: 0px;
}

/*.tooolbarBottom */input[type=color]{
  width: 24px;
  margin: 0;
  border: 0px;
  background: none;
}

.toolbarBottom input[type=text]:focus{
  outline: none;
}

.toolbarBottom input[type=number]:focus{
  outline: none;
}

/*//////////////*/
/*camview controls overlay*/
.camViewControls{
  position: absolute;
  width: 256px;
  height: 128px;
  /*width: 20%;
  height: 20%;*/
  left: 0px;
  bottom: 48px;
}



/*//////////////*/
/*generic styling*/
.fadesIn{
  opacity: 0;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}

.fadesOut{
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
}

.active{
  background: rgb(255, 223, 0);
}


/*//////////////*/
/*design card wrapper overlay*/
.designCardWrapper{
}


.designCard{
  position: absolute;
  max-height: 90%;
  color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  background: #60c4f8;
  z-index: 1;
}
.designCard h1{
  padding: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0px;
}

.designCard section{
  margin: 5px;
}

.designCard .version{
  font-size: 0.8em;
  padding: 10px;
}

/*//////////////*/
/*bom view*/

.bom{
  position: absolute;
  right: 0px;
  top:140px;
}

.bom tr:hover
{
   background-color: #F4F4F4;
   color: black;
   /*font-weight: bold;*/
}

.bom tr.selected
{
   background-color: #F4F4F4;
   color:#F99305;
   /*
#F99305;
   color: red;*/
   font-weight: bold;
}

.bom .directionArrow{
  font-size: 0.6em;
}

.foo{
  position: absolute;
  right: 0px;
  top:240px;
}

/*//////////////////*/

.fullScreenToggler{
  position: absolute;
  bottom: 20px;
  right: 20px;

  bottom: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background: white;
  border: none;
  padding: 0px;
  margin: 0px;
}

button path{fill:#60C4F8!important;}
button:focus path{fill:#60C4F8!important;}
button:focus {outline:0;}

/*//////////////////*/
.settings{
  position: absolute;
  right: 20px;
  top:10px;
  background: white;
}


.settings .settingEntry{
  padding: 6px;
  /*border-bottom: 1px solid #e0e0e0;*/
}

.settings .content{
  background:  white;/*rgb(247, 247, 247); */
  font-size: 0.8em;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 200px;
  border: 1px solid white;

}

.settings .toggled{
  border: 1px solid #dddddd !important;
}


.icon{
  width: 24px;
  height: 24px;
  padding: 4px;
  /*stroke: #60C4F8;
  stroke-width: 2;*/
}

.settings #toggler{
  float: right;
  display: block;
}

.settings .toggler{
  border: 1px solid white;
}

/*.settings .toggler .toggled .icon{
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}*/

.icon path{
  fill:#dddddd;
}

.icon:hover path{
  fill:#60C4F8;
}

.settings button{
  background: white;
  border: none;
  margin: 0;
  padding: 0;
}

.settings button:focus {outline:0;}
.settings button:focus path{fill:#60C4F8;}


/*----------------*/

.glView{
  width: 100%;
  height: 100%;
}