
#bottomToolBar{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

#bottomToolBar .containerToggler{
  background: rgba(0,0,0,0);
}

#bottomToolBar .containerToggler:hover{
  background: #5bc3fa;
}
