.hopscotch-bubble-container{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  z-index: 1000;
  background-color: white;
  /*width: 700px !important;*/
  border: 1px solid #dddddd;
  font-size: 0.7em;
}

.hopscotch-bubble-number{
  display: none;
}

.hopscotch-title{
  margin-top: 5px;
}

.hopscotch-content{
  display: inline-block;
  width: 100%
}

.featureTourImage{
  display: block;
}
.imageLeft{
  float: left;
  margin-right: 15px;
}
.imageRight{
  float: right;
  margin-left: 15px;
}

.hopscotch-actions{
  display: block;
  margin-top: 10px;
  float: right;
}

.hopscotch-nav-button{
  display: inline-block;
  background: #5fc5fb;
  color: #ffffff;
}

.hopscotch-bubble-close, .hopscotch-bubble-close:hover{
  position: absolute;
  top: 15;
  right: 15;
  width: 20px; height: 20px;
  background: #F5F5F5 url("data:image/svg+xml;utf8,<svg fill='%23000000' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
  text-indent: -9999px;
}

.hidden{
  display: none;
}

.hopscotch-bubble-arrow-container {
  position: absolute;
  width: 15px;
  height: 15px;
}
.hopscotch-bubble-arrow-container .hopscotch-bubble-arrow,
.hopscotch-bubble-arrow-container .hopscotch-bubble-arrow-border {
  width: 0;
  height: 0;
}
.hopscotch-bubble-arrow-container.up {
  top: -15px;
  left: 7px;
}
.hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: relative;
  top: -14px;
}
.hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
  border-bottom: 15px solid #dddddd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.hopscotch-bubble-arrow-container.down {
  bottom: -15px;
  left: 7px;
}
.hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: relative;
  bottom: 16px;
}
.hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
  border-top: 15px solid #dddddd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.hopscotch-bubble-arrow-container.left {
  top: 10px;
  left: -15px;
}
.hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  border-top: 15px solid transparent;
  position: relative;
  left: 1px;
  top: -30px;
}
.hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 15px solid #dddddd;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}
.hopscotch-bubble-arrow-container.right {
  top: 10px;
  right: -15px;
}
.hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  border-top: 15px solid transparent;
  position: relative;
  right: 1px;
  top: -30px;
}
.hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
  border-left: 15px solid #dddddd;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}
